<!DOCTYPE html>
<html lang="en" ng-app="recipeSimple">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="./main.css">

<script src="./bower_components/jquery/dist/jquery.js"
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="app/app.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>recipe Simple</title>
</head>
<body ng-controller="recipeController">

<!-- navBar.html -->
<navBar></navBar>
<br/><br/><br/><br/>

<!-- recipes -->
  <div class="container">
    <div class="row">
      <button type="button" class="btn btn-default pull-right" ng-click="newRecipe()">
        <span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <br>
    <div class="row Recipe-Card" ng-repeat="recipe in recipes" ng-hide="editing">
      <button class="btn btn-xs btn-default pull-right" ng-click="editRecipe(recipe)">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <div class="">
        <h1 class="Recipe-Title">{{recipe.name}}</h1>
        <div class="col-md-3">
          <h3 class="Card-Ingredients-Title">Ingredients</h3>
          <ul>
            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.name}} - {{ingredient.quantity}}</li>
          </ul>
        </div>
        <div class="Directions-Frame col-md-9">
          <h3 class="Card-Directions-Title">Directions</h3>
          <ol>
            <li ng-repeat="direction in recipe.directions track by $index">{{direction}}</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- editor.html -->
    <editor></editor>
  </div><!-- /.container -->

</body>
</html>
